@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');
*{
    box-sizing: border-box;
}

:root {
    --primary-color:#000;
    --secondary-color:#fff;
}

html {
    transition: all 0.5s ease-in;
}

html.dark{
    --primary-color:#fff;
    --secondary-color:#333;
}
html.dark{
    background-color: #111;
    color: var(--primary-color);
}

body{
    font-family: 'Heebo' , sans-serif;
    /* display: flex;  */
    text-align: center;
    /* align-items: center; */
    /* justify-content: center; */
    height:100vh;
    overflow: hidden;
    margin: 0;
}

.toggle {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    border-radius: 4px;
    margin-top: 5%;
    padding: 8px 12px;
    /* position: absolute; */
    top:10px;
}

.toggle.focus {
    outline: none;
}

#clockContainer{
    /* position: absolute; */
    margin:0 auto;
    height: 60%;
    width: 60%;
    background-size: 100%;
    align-items: center;
}

#minute,#second{
    position: relative;
    background-color: var(--primary-color);
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    position: relative;
    background-color: var(--primary-color);
    border-radius: 10px;
    transform-origin: bottom;
    width: 1.2%;
    height: 13%;
    top: 47%;
    left: 49.2%;
    /* opacity: 0.8; */
}

#minute{
    width: 1%;
    height: 21%;
    top: 26.5%;
    left: 48.8%;
    /* opacity: 0.8; */
}

#second{
    background-color: #e74c3c;
    width: 1%;
    height: 24%;
    top: 2.1%;
    left: 48.8%;
    /* opacity: 0.8; */
}

#center{
    background-color: #e74c3c;
    width: 2%;
    height: 4.5%;
    position: relative;
    /* top: 48.5%; */
    left: 48.4%;
    border-radius: 50%;
}

#center::after{
    content: ' ';
    background-color: var(--primary-color);
    width: 3.2%;
    height: 4.5%;
    position: absolute;
    top: 48.5%;
    left: 47.9%;
    border-radius: 50%;
}

#digitTime, #date {
    color: rgb(168, 22, 22);
}
#date-highlight{
    color: #000;
    padding: 1%;
    background-color: #402bfb99;
    height:10.50%;
    width: 10%;
    border-radius: 50%;
} 